@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

/* common styles */

:root {
    font-family: Mulish;
    --btn-color: #FF5400;
}

.btn {
    color: #FFF;
    border-radius: 8px;
    border: 0;
    background: var(--btn-color);
    padding: 22px 40px;
}

.center {
    margin: 0 auto;
    width: 81.25vw;
}

/* header styles */
header nav {
    background-color: palegoldenrod;
    text-align: center;
}

header .banner {
    margin: 0 auto;
    max-width: 1440px;
    height: 500px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

header .banner>h1 {
    padding-top: 100px;
    color: #FFF;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
}

header .banner>p {
    padding-top: 25px;
    width: 70%;
    margin: 0 auto;
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

header .banner>.container {
    margin: 0 auto;
    margin-top: 50px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

header .banner>.container>.input {
    width: 21.75%;
    padding: 16px;
    border-radius: 8px;
    border: 0;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

header .banner>.container>#input-pad {
    padding-left: 0px;
    padding-right: 0px;
}

header .banner>.container>#btn {
    color: #FFF;
}

/* main styles */
/* main - section 1 styles */
main>.section-1 {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

main>.section-1>.left {
    width: 50%;
}

main>.section-1>.left>h1 {
    color: #131318;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

main>.section-1>.left>p {
    margin-top: 20px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

main>.section-1>.left>ul {
    margin-top: 20px;
    padding-left: 25px;
    width: 85%;
}

main>.section-1>.left>ul>li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

main>.section-1>.left>.btn {
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    padding: 14px 35px;
    margin-top: 25px;
}

main>.section-1>.right {
    width: 45%;
    background-image: url("../images/Rectangle\ 4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 16px;
}

/* media query */
/* mobile: 600px */
@media screen and (max-width:600px) {

    .center {
        margin: 0 auto;
        width: 89.33vw;
    }

    /* header styles */
    header .banner {
        height: 485px;
    }

    header .banner>h1 {
        padding-top: 30px;
        font-size: 1.375rem;
    }

    header .banner>p {
        padding-top: 8px;
        width: 90%;
        font-size: 0.875rem;
        line-height: 21px;
    }

    header .banner>.container {
        margin-top: 30px;
        width: 85%;
        flex-direction: column;
        gap: 16px;
    }

    header .banner>.container>.input {
        width: 100%;
    }

    /* main styles */
    /* main - section 1 styles */
    main>.section-1 {
        margin-top: 24px;
        flex-direction: column;
        gap: 24px;
    }

    main>.section-1>.left {
        width: 100%;
    }

    main>.section-1>.left>h1 {
        font-size: 1.25rem;
    }

    main>.section-1>.left>p {
        margin-top: 15px;
        font-size: 0.875rem;
    }

    main>.section-1>.left>ul {
        margin-top: 15px;
        width: 90%;
        /* padding: 15px 0px; */
    }

    main>.section-1>.left>ul>li {
        font-size: 0.875rem;
    }

    main>.section-1>.left>.btn {
        font-size: 1.25rem;
        margin-top: 20px;
    }

    main>.section-1>.right {
        width: 100%;
        height: 340px;
    }
}